/* logo */
p {
  font-family: "Poppins", sans-serif;
}
.container-logo {
  margin-top: 25px;
}
.img-logo {
  width: 55px;
  height: 60px;
  object-fit: contain;
  margin-right: 10px;
}
.title-page {
  font-family: "Sahitya", serif;
  color: #34a653;
  font-weight: bold;
  font-size: 43px;
  line-height: 60px;
}
p.description-home {
  line-height: 32px;
  font-size: 18px;
  font-family: "Poppins", sans-seri;
  color: #392e24;
}
a.beranda {
  background: transparent;
  border: 1px solid #34a653;
  color: #34a653;
  padding: 5px 20px;
}
a.lihat-peta {
  padding: 5px 20px;
  background: #34a653;
  border: none;
  color: white;
}
/* icons */
.div-icons {
  width: 70%;
  margin: 70px auto 0px;
}
.container .div-icons ion-icon {
  width: 27px;
  height: 27px;
  color: #cdcdcd;
}
.col-monumen {
  height: 100vh;
}
img.img-monumen_binjai {
  height: 100vh;
  width: 100%;
}
.col-monumen .position-absolute {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 50%;
  background: black;
  opacity: 0.5;
  height: 100%;
}
/* beranda */
.jumbotron {
  background: #34a653 !important;
  border-radius: 0 !important;
}
.jumbotron-beranda p {
  line-height: 25px;
  font-size: 16px;
  font-weight: normal;
}
.wrapper {
  margin-top: 150px;
}
.container img.img-peta {
  height: 390px;
}
.container-luas-wilayah p {
  font-family: "Poppins", sans-serif;
  color: #34a653;
  font-size: 19px;
}
.container-luas-wilayah h1 {
  font-size: 54px;
  color: #34a653;
  font-weight: 900;
}
.container-luas-wilayah span {
  font-size: 25px !important;
  font-weight: normal;
  color: #34a653;
}
.container-luas-wilayah span.kuadarat {
  position: absolute;
  top: px;
  font-size: 18px !important;
  font-weight: 700;
}
.container p.title-detail {
  font-family: "Poppins", sans-serif;
  color: #34a653;
  font-size: 17px;
}
.container.detail-kota span {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #9a9a9a;
  font-weight: 700;
}
.container.detail-kota .nama-kota p span {
  color: black;
  margin-right: 15px;
}
.container.detail-kota .nama-kota p {
  line-height: 20px;
  font-size: 14px;
}
.container.detail-kota .col-ruang_terbuka h4 {
  font-family: "Poppins", sans-serif;
  color: #34a653;
  font-weight: 800;
}
.col-ruang_terbuka p {
  font-size: 15px;
}
.row-kalkulator p {
  line-height: 28px;
  color: #545353;
}
.row-kalkulator button {
  background: #34a653;
  border: none;
  color: white;
  padding: 5px 25px;
  margin-bottom: 20px;
}
/* page About */
h1.title-about {
  font-family: "Sahitya", sans-serif;
  color: #34a653;
  font-weight: bold;
}
img.img-about {
  width: 80%;
  display: block;
  margin: auto;
}
p.nama-dosen {
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  margin-top: 15px;
}
@media (min-width: 0px) and (max-width: 767.98px) {
  .title-page {
    font-size: 36px;
    line-height: 43px !important;
  }
  p.description-home {
    line-height: 28px;
  }
  a.beranda {
    padding: 0 25px;
  }
  a.lihat-peta {
    padding: 0 25px;
  }
  .col-title-jumbotron {
    margin-top: 25px;
  }
  .col-total-wilayah {
    margin-top: 25px;
    text-align: center;
  }
  .col-total-wilayah div.d-flex {
    justify-content: center;
  }
  .col-ruang_terbuka h4 {
    font-size: 21px !important;
  }
}

/* @media (min-width: 576px) and (max-width: 767.98px) {
  .title-page {
    font-size: 38px;
    line-height: 43px !important;
  }
  p.description-home {
    line-height: 28px;
  }
  a.beranda {
    padding: 0 25px;
  }
  a.lihat-peta {
    padding: 0 25px;
  }
} */

@media (min-width: 768px) and (max-width: 991.98px) {
  .col-ruang_terbuka {
    border-right: 5px solid white;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) {
}
